<%= stylesheet_link_tag "register" %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<% if current_user %>
    <h2 align="center">Welcome to my Basecamp!</h2>
    <br><br>
    <h4 align="center">Hi <%= current_user.email %></h4>
    <%# <%= link_to "New project", new_project_path, class: "btn btn-warning", style: "margin-left: 1350px; height: 50px" %> 
<% else %>
        <h5 class="card-title" ><h1 align="center">Basecamp</h1></h5>
    <br>
    <br>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-light", style: "margin-left: 675px" %> 
        <%= link_to "Login", new_user_session_path, class: "btn btn-light", style: "margin-left: 30px" %>
        <br>
        <br>
    </div>
<% end %>
