<%= stylesheet_link_tag "register" %>
<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card" style="width: 25rem; margin: auto; background: none">
  <div class="card-body">
    <h1 align="center">New project</h5>
      <%= form.text_field :title, class: "form-control", placeholder: "Name" , style: "background: none " %>
        <br>
      <%= form.text_area :body, class: "form-control", placeholder: "Body", style: "background: none;" %>                                                 
        <br>
        <%= form.number_field :user_id, id: :project_user_id, value: current_user.id, type: :hidden%>
      <%= form.submit class: "btn btn-secondary", style: "margin-left: 50px; background: none" %>
      <%= link_to "Back to projects", projects_path, class: "btn btn-secondary", style: "background: none"%>
  </div>

</div>
<% end %>
